{% extends "layout.html" %}
{% block content %}

<center>

<br>
<!-- <div class="login-page"> -->
<div class="container" style='background-image: url("static/uploads/bg11.jpg");background-repeat: no-repeat;background-size: cover;'>
  <br>
  <br>  
  <br>


  <div class="about-section" align="center" style="padding-right: 150px; padding-left: 150px;" >
    <h1>Mission</h1>
    <p>To provide the most actionable e-Store for electronic gadgets.</p>
    <br>
    <br> 
    <br>
    <br>  
    <br>   
    <h1>About Us</h1>
    <h3>Welcome to <strong>e`GADJET!</strong></h3>
    <br>
    <p>We aim to offer our customers a variety of the latest electronic gadgets. We’ve come a long way, </p>
    <p>so we know exactly which direction to take when supplying you with high quality yet budget-friendly </p>
    <p>products. We offer all of this while providing excellent customer service and friendly support.</p>
    <br>
    <p>We always keep an eye on the latest trends in electronic gadgets and put our customers’ wishes first.</p><p>That is why we have satisfied customers all over the world, and are thrilled about it... </p>
    <br>
    <p>The interests of our customers are always top priority for us, so we hope you will enjoy our products</p>
    <p>as much as we enjoy making them available to you.</p>
  </div>
  <br>
  <br>
  <h2 style="text-align:right;padding-right: 150px;"> Contact </h2>
  <br>
  <div class="row" align="right" style="padding-right: 150px;">
    <div class="col">
      <ul class="list-unstyled mb-0">
        <li><i class="fas fa-map-marker-alt fa-2x"></i><p>Hyderabad, 500 037, India </p></li>
        <li><i class="fas fa-phone mt-4 fa-2x"></i><p>+ 01 234 567 89</p></li>
        <li><i class="fas fa-envelope mt-4 fa-2x"></i><p>contact@AR.com</p></li>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
<!-- </div> -->
</center>

{% endblock content %}