{% extends "layout.html" %}
{% block content %}
<center>
<br>
  <div class="pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 bg-white rounded shadow-sm mb-5">

          <!-- Shopping cart table -->
          <div class="table-responsive" >
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remove</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr> -->

<!--                 {% for p in product %}
                
                <tr>
                  <th scope="row" class="border-0 align-middle">
                    <div class="col">
                      <a href="details/{{p[catogery]}}/{{p[productid]}}">
                      <div class="card" align="middle">
                        <br>
                        
                        <img src="{{url_for('static', filename='uploads/p[image].jpg')}}" alt="{{p[product_name]}}" class="img-fluid rounded shadow-sm" height="150" width="150" align="middle">

                        <div class="card-body">
                          <h5 class="mb-0">
                            <strong class="text-dark d-inline-block align-middle">{{p[product_name]}}</strong>
                          </h5>
                          <p class="text-muted font-weight-normal font-italic d-block">{{p[rating]}}</p>
                        </div>
                      </div>
                      </a>
                    </div>
                  </th>

                  <td class="border-0 align-middle">
                    <p class="text-center"><strong>{{p[discounted_price]}} Rs.</strong></p>
                  </td>

                  <td class="border-0 align-middle">   
                      <p class="text-center"><strong>{{p[quantity]}}</strong></p>
                  </td>

                  <td class="border-0 align-middle" align="middle">
                    <a href="/del_from_cart/{{p[productid]}}" class="text-dark"><i class="fa fa-trash"></i></a>
                  </td>

                </tr>
                <br>                

                {% endfor %} -->

                {% for p in product %}
                
                <tr>
                  <th scope="row" class="border-0 align-middle">
                    <div class="col">
                      <a href="details/{{p.catogery}}/{{p.productid}}">
                      <div class="card" align="middle">
                        <br>
                        
                        <img src="{{url_for('static', filename='uploads/'+p.image+'.jpg')}}" alt="{{p.product_name}}" class="img-fluid rounded shadow-sm" height="150" width="150" align="middle">

                        <div class="card-body">
                          <h5 class="mb-0">
                            <strong class="text-dark d-inline-block align-middle">{{p.product_name}}</strong>
                          </h5>
                          <p class="text-muted font-weight-normal font-italic d-block">{{p.rating}}</p>
                        </div>
                      </div>
                      </a>
                    </div>
                  </th>

                  <td class="border-0 align-middle">
                    <p class="text-center"><strong>{{p.discounted_price}} Rs.</strong></p>
                  </td>
                  <!-- <td class="border-0 align-middle"><strong>3</strong></td> -->
                  
                  {% for c in cart%}
                  {% if c.productid == p.productid %}
                  <!-- ADD/REM QTY BUTTONS -->
                  <td class="border-0 align-middle">                    
                    <!-- <div class="center"> -->
                      <p class="text-center"><strong>{{c.quantity}}</strong></p>
                  </td>
                  <!-- END BUTTONS -->
                  {% endif %}
                  {% endfor %}

                  <!-- REMOVE FROM CART -->
                  <td class="border-0 align-middle" align="middle">
                    <a href="/del_from_cart/{{p.productid}}" class="text-dark"><i class="fa fa-trash"></i></a>
                  </td>
                  <!-- REMOVE FROM CART ends -->

                </tr>
                <br> 
                

                {% endfor %}
                
              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>


<!-- COUPOUN CODE AND ORDER INFO SECTIONS -->

      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
          <div class="p-4">
            <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
            <div class="input-group mb-4 border rounded-pill p-2">
              <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0" style="width:70%;">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
              </div>
            </div>
          </div>
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
          <div class="p-4">
            <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
          <div class="p-4">
            <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>

            <!-- EXAMPLE LIST of TOTAL AMT CALCULATION -->
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong> &#8377;{{subtot}}</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" name="sh">Shipping and handling</strong><strong>&#8377;10.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" name="tax">Tax</strong><strong>&#8377;5.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" name="tax">Coupoun</strong><strong>&#8377;0.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                <h5 class="font-weight-bold">&#8377;{{tot}}</h5>
              </li>
            </ul>

            <a href="/payment" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
          </div>
        </div>
        
      </div>

<!-- COUPOUN CODE AND ORDER INFO SECTIONS END -->

    </div>
  </div>
</div>

<br>
</center>
{% endblock content %}
