{% extends "layout.html" %}
{% block content %}
<center>
<br>  
<br>  
<div class="container">
  <div class="row">
    <br>

    <div class="col">
      <div class="card mt-5" style="width: 25rem; height: 33rem">
        <div class="card-body">
          <img src="{{url_for('static', filename='uploads/lappy1.jpg')}}" alt="laptops" class="card-img-top" height="250" width="250">
        </div>
        <div class="card-footer">
          <a href="/index/Laptop" class="float-middle btn btn-light" > <span class="text">LAPTOPS</span></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mt-5" style="width: 25rem; height: 33rem">
        <div class="card-body">
          <img src="{{url_for('static', filename='uploads/mobile1.jpg')}}" alt="mobiles" class="card-img-top" height="250" width="250">
        </div>
        <div class="card-footer">
          <a href="/index/Mobile" class="float-middle btn btn-light" > <span class="text">MOBILES</span></a>
        </div>
      </div>
    </div>

     <div class="col">
      <div class="card mt-5" style="width: 25rem; height: 33rem">
        <div class="card-body">
          <img src="{{url_for('static', filename='uploads/tv1.jpg')}}" alt="tvs" class="card-img-top" height="250" width="250">
        </div>
        <div class="card-footer">
          <a href="/index/Tv" class="float-middle btn btn-light" > <span class="text">TVs</span></a>
        </div>
      </div>
    </div>

     <div class="col">
      <div class="card mt-5" style="width: 25rem; height: 33rem">
        <div class="card-body">
          <img src="{{url_for('static', filename='uploads/fridge1.jpg')}}" alt="fridges" class="card-img-top" height="250" width="250">
        </div>
        <div class="card-footer">
          <a href="/index/Refrigerator" class="float-middle btn btn-light" > <span class="text">REFRIGERATORS</span></a>
        </div>
      </div>
    </div>

     <div class="col">
      <div class="card mt-5" style="width: 25rem; height: 33rem">
        <div class="card-body">
          <img src="{{url_for('static', filename='uploads/wash1.jpg')}}" alt="washingmachines" class="card-img-top" height="250" width="250">
        </div>
        <div class="card-footer">
          <a href="/index/WashingMachine" class="float-middle btn btn-light" > <span class="text">WASHING MACHINES</span></a>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
<br>
</center>

{% endblock content %}
