{% extends "layout.html" %}
{% block content %}

<center>
<br>
	<div class="container" align="center">
		<div class="row">

			<!-- <div class="col-xs-12 col-md-4"> -->
			
			<aside class="col-xs-12 col-md-6">
                <div class="col-lg-6 bg-light">
			        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary 
			        </div>				

			        <div class="p-4">
		            <p class="font-italic mb-4">Order Number : 788152</p>
		            <!-- EXAMPLE LIST of TOTAL AMT CALCULATION -->
		            <ul class="list-unstyled mb-4">
			            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong> &#8377;{{subtot}}</strong></li>
			            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" name="sh">Shipping and handling</strong><strong>&#8377;10.00</strong></li>
			            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" name="tax">Tax</strong><strong>&#8377;5.00</strong></li>
			            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" name="tax">Coupoun</strong><strong>&#8377;0.00</strong></li>
			            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
			            <h5 class="font-weight-bold">&#8377;{{tot}}</h5>
			            </li>
		            </ul>
		            <a href="/cart" class="btn btn-dark rounded-pill py-2 btn-block"> Back to Cart </a>
		            </div>
		        </div> 			
			</aside>


			<aside class="col-xs-12 col-md-6">
			<!-- CREDIT CARD FORM STARTS HERE -->
				<div class="panel panel-default credit-card-box">
					<div class="panel-heading display-table" >
						<div class="row display-tr" >
							<h3 class="panel-title display-td" >Payment Details</h3>
							<div class="display-td" >                            
								<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
							</div>
						</div>                    
					</div>
					<div class="panel-body">
						<form role="form" id="payment-form" action="/place_order" method="POST">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="cardNumber">CARD NUMBER</label>
										<div class="input-group">
											<input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus/>
											<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
										</div>
									</div>                            
								</div>
							</div>
							<div class="row">
								<div class="col-xs-7 col-md-7">
									<div class="form-group">
										<label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
										<input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
									</div>
								</div>
								<div class="col-xs-5 col-md-5 pull-right">
									<div class="form-group">
										<label for="cardCVC">CV CODE</label>
										<input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="couponCode">COUPON CODE</label>
										<input type="text" class="form-control" name="couponCode" />
									</div>
								</div>                        
							</div>
							<div class="row">
								<div class="col-xs-12">									
									<div class="form-group">
										<button class="btn btn-success btn-lg btn-block" type="submit"> Checkout </button>
									</div>
								</div>
							</div>
							<div class="row" style="display:none;">
								<div class="col-xs-12">
									<p class="payment-errors"></p>
								</div>
							</div>
						</form>
					</div>
				</div>            
			<!-- CREDIT CARD FORM ENDS HERE -->
			</aside>


			<!-- </div>             -->
		</div>
	</div>

	  <!-- If you're using Stripe for payments -->
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

	</center>

{% endblock content %}
